@font-face {
    font-family: 'OpenSans';
    src: url("../font/opensans/OpenSans-VariableFont_wdth\,wght.ttf");
}

:root {
    --dark: #000000;
    --light: #d5d5d5;
    --gold: #e5a946;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    color: var(--light);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--dark);
}

body.ohidden {
    overflow: hidden;
    margin-right: 17px;
}

a {
    color: var(--light);
}

h1,
.h1 {
    margin: 0;
    color: var(--gold);
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.content {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.section-title {
    margin: 40px 0;
}

.button {
    color: var(--dark);
    text-decoration: none;
    background-image: url('../img/button1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    min-width: 120px;
    text-align: center;
    transition: 0.5s ease-out;
}

.button:hover {
    background-image: url('../img/button2.png');
}


/***** HEADER *****/

.header-top {
    background-image: url('../img/line_header.png');
    background-position: bottom left;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 65px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav.main-nav {
    display: flex;
    align-items: center;
}

nav.main-nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav.main-nav ul li {
    text-transform: uppercase;
}

nav.main-nav ul a {
    position: relative;
    display: block;
    text-decoration: none;
}

nav.main-nav ul a.active,
nav.main-nav ul a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
}

.menu-right {
    display: none;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials .icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.socials .whatsapp {
    background-image: url('../img/inc_wp_footer.png');
}

.socials .telegram {
    background-image: url('../img/inc_tg_footer.png');
}

.banner {
    background-image: url('../img/bg_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 542px;
}

.banner .logo img {
    max-width: 440px;
}

/***** MAIN INFO *****/

.main-info-wrapper {
    min-height: 644px;
    background-image: url('../img/pic_block2.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right bottom;
}

.main-info-text {
    max-width: 680px;
    font-size: 20px;
    padding: 50px 0;
}

/***** CATEGORIES *****/

.categories-block {
    display: flex;
    justify-content: space-between;
}

.category-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 33.333333%;
    height: 640px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.category-item:nth-child(1) {
    background-image: url('../img/frame1_lashliner_layers.png');
}

.category-item:nth-child(2) {
    background-image: url('../img/frame_lashshetka_layers.png');
}

.category-item:nth-child(3) {
    background-image: url('../img/frame1_electro_layers.png');
}


/***** ABOUT *****/

.about-wrapper {
    background-image: url('../img/bg_block-about Us.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 700px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.about-text {
    margin-top: 70px;
    font-size: 20px;
}
}


/***** MODAL *****/

.modal {
    position: fixed;
    display: flex;
    background-color: rgba(64, 63, 61, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: 9;
    overflow-y: auto;
    inset: 0;
}

.modal-container {
    position: relative;
    width: 800px;
    margin: auto;
    padding: 16px;
    background-color: var(--light);
    border-radius: 40px;
}

.modal-container .modal-blocks {
    display: flex;
    gap: 20px;
}

.modal-blocks .modal-left {
    width: 310px;
    height: 310px;
    border-radius: 40px;
    overflow: hidden;
}

.modal-blocks .modal-left img {
    transition: 0.5s ease-out;
    transform: scale(1.1);
}

.modal-blocks .modal-left:hover img {
    transform: scale(1);
}

.modal-blocks .modal-right {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 438px;
}

.modal-right .modal-info {
    margin-top: 5px;
}

.modal-right .modal-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.modal-right .modal-description {
    margin-top: 13px;
}

.modal-parameters .tabs {
    justify-content: flex-start;
    gap: 7px;
    margin-top: 8px;
}

.modal-parameters .tabs .tab.active {
    cursor: pointer;
}

.modal-right .modal-total {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
}

.modal-right .modal-note {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    margin-top: 17px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 0;
}

.modal-right .modal-note img {
    width: 16px;
}

.modal-right .modal-close {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--darkgrey);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.modal-right .modal-close:hover {
    background-color: var(--darkgrey);
    color: var(--light);
}